{%extends 'base.html'%}
{%block body_block%}

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table">
                <tr>
                    <th>mobile_name</th>
                    <th>brand</th>
                    <th>price</th>
                    <th>quantity</th>
                    <th>color</th>
                    <th>specification</th>
                    <th>camera</th>
                    <th>ram</th>
                    <th>storage</th>
                </tr>
                {%for mobile in mobile%}
                <tr>
                    <td> {{mobile.mobile_name}}
                    </td>
                    <td>
                        {{mobile.brand}}

                    </td>
                    <td>
                        {{mobile.price}}

                    </td>
                    <td>
                        {{mobile.quantity}}

                    </td>
                    <td>
                        {{mobile.color}}

                    </td>
                    <td>
                        {{mobile.specification}}

                    </td>
                    <td>
                        {{mobile.camera}}

                    </td>
                    <td>
                        {{mobile.ram}}

                    </td>
                    <td>
                        {{mobile.storage}}

                    </td>
                    <td>

                        <a href="{%url 'changemobile' mobile.id%}" class="btn btn-warning">edit</a>
                        <a href="{%url 'mobiledetails' mobile.id%}" class="btn btn-primary">view</a>
                        <a href="{%url 'mobiledelete' mobile.id%}" class="btn btn-danger">delete</a>
                    </td>
                    {%endfor%}
                </tr>

            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{%endblock%}
